<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rishat7c</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <% include blocks/header.ejs %>
    <h1>Gaysin Rishat</h1>
    <p>Back-end developer && Software engineer</p>
    <a href="/about">About</p>
    <a href="/contact">Contact</p>
</body>
</html>